{% extends "templates/base.html" %}
{% block head %}{{ super() }}{% endblock %}
{% block title %}{{title}} Class: {{idf}}{% endblock %}
{% block description %}{% if description %}{{ super() }}<meta name="description" content="{{description}}" />{% endif %}{% endblock %}
{% block keywords %}ontology, {{ super() }}{% endblock %}
{% block header %}{{ super() }}{% endblock %}
{% block content %}
		<h1 style="clear:both">The {{title}} Ontology: Class Definition for "{{idf}}"</h1>
		<h2>{{ns}}:{{idf}} <span class="rdf_type">(rdf:type {{types}})</span></h2>
		<p class="left_align">{% if idref %}
			<strong>URI</strong> <a href="{{idref}}">{{idref}}</a><br />{% endif %}{% if subclassof %}
			<strong><a href="{{rdfs}}subClassOf">rdfs:subClassOf</a></strong> {{subclassof}}<br />{% endif %}{% for label in labels %}
			<strong><a href="{{rdfs}}label">rdfs:label</a></strong> {{label}} @{{label.language}}<br />{% endfor %}
		</p>{% if description %}
		<div class="comment">
			<p class="comment_p1"><a href="{{rdfs}}comment">rdfs:comment</a></p>
			<p>{{description}} @{{description.language}}</p>
		</div>{% endif %}
		<p class="left_align">{% if hierarchycode %}
			<strong><a href="{{base_uri}}hierarchyCode">{{ns}}:hierarchyCode</a></strong> {{hierarchycode}}<br />{% endif %}{% if recommended %}
			<strong><a href="{{base_uri}}recommendedProperty">{{ns}}:recommendedProperty</a></strong> {{recommended}}<br />{% endif %}
		</p>{% if descriptions %}
		<h3>Translation(s)</h3>{% for description in descriptions %}
		<p>{{description}} @{{description.language}}</p>{% endfor %}{% endif %}{% if synonyms %}
		<h3>Synonym(s)</h3>
		<ul>{% for syn in synonyms %}
			<li>{{syn}} @{{syn.language}}</li>{% endfor %}
		</ul>{% endif %}
{% endblock %}
{% block footer %}{{ super() }}{% endblock %}